<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.app.rspicker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <!--  <meta-data
              android:name="com.google.android.geo.API_KEY"
              android:value="@string/google_maps_key" />-->

        <activity
                android:name=".MapsActivity"
                android:label="@string/title_activity_maps"
                android:theme="@style/AppFullScreen"/>
    </application>

</manifest>